In [7]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore") 
plt.rcParams["figure.figsize"] =(10,5)
plt.rcParams["figure.dpi"] =300
%matplotlib inline

In [1]:
df =pd.read_csv("data_clean1.csv")

NameError: name 'pd' is not defined

In [3]:
df.head(4)

NameError: name 'df' is not defined

In [15]:
df.tail(4)

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
154   30.0    193.0   6.9     9   26  2010    70      PS
155    NaN    145.0  13.2     9   27  2010    77       S
156   14.0    191.0  14.3     9   28  2010    75       S
157   18.0    131.0   8.0     9   29  2010    76       C

In [17]:
df.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Month', 'Day', 'Year', 'Temp', 'Weather'], dtype='object')

In [21]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [23]:
df.describe()

            Ozone     Solar.R        Wind         Day    Year        Temp
count  120.000000  151.000000  158.000000  158.000000   158.0  158.000000
mean    41.583333  185.403974    9.957595   16.006329  2010.0   77.727848
std     32.620709   88.723103    3.511261    8.997166     0.0    9.377877
min      1.000000    7.000000    1.700000    1.000000  2010.0   56.000000
25%     18.000000  119.000000    7.400000    8.000000  2010.0   72.000000
50%     30.500000  197.000000    9.700000   16.000000  2010.0   78.500000
75%     61.500000  257.000000   11.875000   24.000000  2010.0   84.000000
max    168.000000  334.000000   20.700000   31.000000  2010.0   97.000000

analysis :
count: Ozone column has 158 rows but 120 are not null means missing values are not present in the ozone column it contains 38 missing values 
75% and max value of ozone column has large gap there is a possibilities of outliers

In [27]:
df.describe(include =object)

       Month Weather
count    158     155
unique     6       3
top        9       S
freq      34      59

In [33]:
df['Month'].value_counts() # may is a object in a numeric column incorrect value

Month
9      34
5      31
7      31
8      31
6      30
May     1
Name: count, dtype: int64

In [41]:
df['Month'].unique()

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [43]:
df["Month"].value_counts()

Month
9      34
5      31
7      31
8      31
6      30
May     1
Name: count, dtype: int64

In [74]:
df["Month"].replace('May',5,inplace =True
                   )

In [76]:
df['Month'].unique()

array([None], dtype=object)

In [78]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [84]:
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
0     41.0    190.0   7.4  None    1  2010    67       S
1     36.0    118.0   8.0  None    2  2010    72       C
2     12.0    149.0  12.6  None    3  2010    74      PS
3     18.0    313.0  11.5  None    4  2010    62       S
4      NaN      NaN  14.3  None    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
153   41.0    190.0   7.4  None    1  2010    67       C
154   30.0    193.0   6.9  None   26  2010    70      PS
155    NaN    145.0  13.2  None   27  2010    77       S
156   14.0    191.0  14.3  None   28  2010    75       S
157   18.0    131.0   8.0  None   29  2010    76       C

[158 rows x 8 columns]

In [88]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
153    False
154    False
155    False
156     True
157    False
Length: 158, dtype: bool