In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from numpy import set_printoptions
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [3]:
names =["preg",'plas','pres','skin','test','mass','pedi','age','class'

In [10]:
dataframe =pd.read_csv("pima-indians-diabetes.data.csv",names = names)

In [11]:
dataframe

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [13]:
# i want to find out the most important featur for predicting the y columns

In [14]:
dataframe.shape

(768, 9)

In [15]:
x = dataframe.iloc[:,0:8]

In [16]:
y =dataframe["class"]

test = SelectKBest(score_func =chi2,k =9) 
#score func is chi 2
# k should equal to the number of feature k shoul be the top5 feature
fit =test.fit(x,y)
set_printoptions(precision =4)
#precision means after the  decimal how many digits i want
print(fit.scores_)

In [20]:
test = SelectKBest(score_func =chi2,k =5)
fit =test.fit(x,y)
set_printoptions(precision =4)
print(fit.scores_)

[ 111.5197 1411.887    17.6054   53.108  2175.5653  127.6693    5.3927
  181.3037]

[ 111.5197 1411.887    17.6054   53.108  2175.5653  127.6693    5.3927
  181.3037]
here the 2175 is the highest chi2 value here the 5th column is the most important for the column selection